<div class="inmodal">
	<div class="color-line"></div>
	<div class="modal-header">
		<h4 class="modal-title">Add Element</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="form-group col-md-12">
				<label>Name</label>
				<input placeholder="Element name" type="text" class="form-control" ng-model="model.name">
			</div>

			<div class="form-group col-md-12">
				<label>Type</label>
				<div class="text-center">
					<div class="btn-group">
						<button type="button" class="btn btn-lg" 
							ng-class="{'btn-primary': model.type == $index, 'btn-default': model.type != $index}"
							ng-click="model.type = $index"
							ng-repeat="type in types">
							{{ type }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button ng-click="close()" class="btn btn-default">Close</button>
		<button ng-click="add()" class="btn btn-success">Add</button>
	</div>
</div>